<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="ns" default="amr"/>
  
  <include file="$(find sound_bring_up)/launch/common.sound_structure.launch">
    <arg name="ns" value="$(arg ns)" />
    <!-- <arg name="config_file" value="global_3D_4mics_16src"/> -->
    <arg name="config_file" value="global_2D_4mics"/>
    <arg name="enable_generator" value="true"/>
    <arg name="enable_receiver" value="false"/>
    <arg name="enable_locator" value="true"/>
    <!-- <arg name="enable_classifier" value="true"/> -->
    <!-- <arg name="enable_spec" value="true"/> -->
    <arg name="enable_rviz" value="true"/>
  </include>

</launch>